# OS / editors
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Env files
.env
.env.*
!.env.example

# Node
node_modules/

# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.ruff_cache/
.dev/
